h2{
	color: #4311CF;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: center;
}
table#t01 tr:nth-child(even) {
    background-color: #df2323a8;
}
table#t01 tr:nth-child(odd) {
   background-color:#af0505;
}
table#t01 th	{
    background-color: black;
    color: white;
}
#saveimg{
	width: 20px;
	height: 20px;
}
table tr td input{
	width: 40px;
}
.border{
    color:white;
}

